<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyoye.DanmuPlayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ImageTranslucentTheme">
        <activity android:name="com.xyoye.DanmuPlayer.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xyoye.DanmuPlayer.ui.activities.VideoListActivity"/>
        <activity android:name="com.xyoye.DanmuPlayer.ui.activities.SmbActivity"/>
        <activity
            android:name="com.xyoye.DanmuPlayer.ui.activities.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="https" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="http" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="https" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\.3g2" />
                <data android:pathPattern=".*\\.mj2" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpe" />
                <data android:pathPattern=".*\\.m1v" />
                <data android:pathPattern=".*\\.mp2" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.wma" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.qt" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.pfv" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.m4v" />
                <data android:pathPattern=".*\\.mp4" />
            </intent-filter>
        </activity>
        <activity android:name="com.xyoye.DanmuPlayer.ui.activities.FolderChooserActivity"/>
    </application>

</manifest>